body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: white;
  direction: ltr;
}

img.make-it-fit {
    max-width: 99%;
    max-height: 99%;
}

.banner {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 1240px;
  background: #ccc;
}

.team-banner {
  position: absolute;
  top: 655px;    
  left: 10px; 
}

.game-banner {
  position: absolute;
  top: 460px;    
  left: 10px; 
}

.game-band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;

  position: absolute;
  top: 478px;    
  left: 10px; 
}

@media only screen and (min-width: 500px) {
  .game-band {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .game-band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.team-band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;

  position: absolute;
  top: 673px;    
  left: 10px; 
}

@media only screen and (min-width: 500px) {
  .team-band {
    grid-template-columns: 1fr 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .team-band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
  background: #eee;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 5px;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

/* typography */
.card h1 {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.card p { 
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}