body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 32px;
	background-color:#F4F4F4;
}

.label {
	font-weight: bold;
	float: left;
	padding-right: 15px;
}

.labelToggle {
	cursor: pointer;
}

.questionnumber {
	font-size: 32px;
}

.category {
	font-size: 32px;
	float: left;
}

.question {
	font-size: 32px;
	float: left;
}

.answer {
	font-size: 32px;
	float: left;
	display: none;
}

.next {
	float: left;
}

.submit {
	float: right;
}